{% extends 'base.html' %}

{% block title %}
    Article #{{ article.id }}: {{ article.title }}
{% endblock %}

{% block body %}
    <div class="row">
    <h1>{{ article.title }}</h1>
    </div>
    <div class="row">
        <div class="col-md-12">{{ article.text }}</div>
    </div>
    <div class="row">
        <div class="col-6">
        <div>Published {{ article.created_at.strftime('%d-%m-%Y %H:%M:%S') }}</div>
        <div>by {{ article.author.user.username }}</div>
    </div>
        <div class="col-6">
            {% for tag in article.tags %}
                <span class="badge bg-primary"><a class="text-white" href="{{ url_for('articles_app.tag', tag_id=tag.id) }}">{{ tag.name }}</a></span>
            {% endfor %}
        </div>
    </div>
{% endblock %}