.parrent {
  position: relative;
}

.parrent > img {
  position: absolute;
  background: url(static/images/1618002999_34-p-oboi-zhiraf-36.jpg);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}